<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookmark Manager</title>
  </head>

  <body>
    <p>Here are your bookmarks:</p>
    <div>
      <ul>
        <% @list.each do |bookmark| %>
          <li class="bookmark" id="bookmark-<%= bookmark.id %>">
            <a href="<%= bookmark.url %>" target="_blank">
              <%= bookmark.title %>
            </a>
            <form action="/bookmarks/<%= bookmark.id %>" method="post">
              <input type='hidden' name='_method' value='DELETE' />
              <input type="submit" value="Delete <%= bookmark.title %>" />
            </form>
            <form action="/bookmarks/<%= bookmark.id %>/edit" method="get">
              <input type="submit" value="Edit <%= bookmark.title %>" />
            </form>
          </li>
        <% end %>
      </ul>
    </div>
    <div>
      <a href='/bookmarks/new'><button type='button'>Add Bookmark</button></a>
    </div>
  </body>
</html>
